# Import Required Libraries
Import pandas and any other necessary libraries such as os to handle file paths.

In [ ]:
import pandas as pd  # For handling Excel and CSV files
import os  # For handling file paths and directories

# Load Excel File and List Sheets
Use pandas to read the Excel file and list all sheet names with pd.ExcelFile().

In [ ]:
# Specify the path to the Excel file
excel_file_path = "data/Student Survey - Jan.xlsx"

# Load the Excel file
excel_file = pd.ExcelFile(excel_file_path)

# List all sheet names

sheet_names = excel_file.sheet_names
l = [sheetname.lower() for sheetname in sheet_names]
print("Sheets in the Excel file:", l)

# Convert Each Sheet to CSV
Iterate over each sheet, read it into a DataFrame, and convert it directly to CSV format.

In [ ]:
# Iterate over each sheet, read it into a DataFrame, and convert it directly to CSV format
output_directory = "data/csv"  # Directory to save the CSV files

# Create the output directory if it doesn't exist
os.makedirs(output_directory, exist_ok=True)

# Loop through each sheet and save it as a CSV file
for sheet_name in sheet_names:
    # Read the sheet into a DataFrame
    df = excel_file.parse(sheet_name)
    
    df.columns = [col.strip().lower().replace(" ", "_").replace("-", "_") for col in df.columns]
    # Define the output CSV file path
    csv_file_path = os.path.join(output_directory, f"{sheet_name}.csv")
    
    # Save the DataFrame to a CSV file
    df.to_csv(csv_file_path, index=False)
    print(f"Saved sheet '{sheet_name}' to '{csv_file_path}'")

# Save CSV Files Using Sheet Names
Save each DataFrame to a CSV file, naming each file according to its corresponding sheet name.

In [ ]:
# Save CSV Files Using Sheet Names
# The code for this section is already included in the provided code snippet. It saves each DataFrame to a CSV file, naming each file according to its corresponding sheet name. Below is the same code for this section:

for sheet_name in sheet_names:
    # Read the sheet into a DataFrame
    df = excel_file.parse(sheet_name)
    
    # Define the output CSV file path
    csv_file_path = os.path.join(output_directory, f"{sheet_name}.csv")
    
    # Save the DataFrame to a CSV file
    df.to_csv(csv_file_path, index=False)
    print(f"Saved sheet '{sheet_name}' to '{csv_file_path}'")

Full Data loading

In [1]:
from api import *
from dataloader import DataLoader
db = DB()
db.connect('db.env')

Connection established.

In [3]:
loaded_rela = ['net_0_friends', 'net_1_influential', 'net_2_feedback', 'net_3_moretime','net_4_advice', 'net_5_disrespect', 'net_affiliation_0_schoolactivit']
loaded_sheet = ["participants", "affiliations", "survey_data"]
# loaded_sheet2 = ["responses"]
dl = DataLoader(db, folder = 'data',loaded_sheet = loaded_sheet
                , loaded_relationship= loaded_rela)

In [ ]:
df = dl.load_test_data("test_data_load.xlsx")
# df = dl.load_excel_file("data/Student Survey - Jan.xlsx")

# dl.check_survey_loaded("Student Survey - Jan.xlsx")

In [5]:
df = dl.get_data_from_survey()

Loading cypher for participants with operation read
Loading cypher for affiliations with operation read
Loading cypher for survey_data with operation read
File not exists, cannot open. Check the path /home/dylan/Documents/Swinburne/COS70008-Project/DataLoaderGraph/cypher/relationship/net_0_friends/read.cql
Cypher not found for net_0_friends
File not exists, cannot open. Check the path /home/dylan/Documents/Swinburne/COS70008-Project/DataLoaderGraph/cypher/relationship/net_1_influential/read.cql
Cypher not found for net_1_influential
File not exists, cannot open. Check the path /home/dylan/Documents/Swinburne/COS70008-Project/DataLoaderGraph/cypher/relationship/net_2_feedback/read.cql
Cypher not found for net_2_feedback
File not exists, cannot open. Check the path /home/dylan/Documents/Swinburne/COS70008-Project/DataLoaderGraph/cypher/relationship/net_3_moretime/read.cql
Cypher not found for net_3_moretime
File not exists, cannot open. Check the path /home/dylan/Documents/Swinburne/COS70008-Project/DataLoaderGraph/cypher/relationship/net_4_advice/read.cql
Cypher not found for net_4_advice
File not exists, cannot open. Check the path /home/dylan/Documents/Swinburne/COS70008-Project/DataLoaderGraph/cypher/relationship/net_5_disrespect/read.cql
Cypher not found for net_5_disrespect
Failed to execute query:  {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 't': expected 'FOREACH', ',', 'ORDER BY', 'CALL', 'CREATE', 'LOAD CSV', 'DELETE', 'DETACH', 'FINISH', 'INSERT', 'LIMIT', 'MATCH', 'MERGE', 'NODETACH', 'OFFSET', 'OPTIONAL', 'REMOVE', 'RETURN', 'SET', 'SKIP', 'UNION', 'UNWIND', 'USE', 'WITH' or <EOF> (line 6, column 5 (offset: 135))
"    t.Title AS `Activity`"
     ^}

In [7]:
df["survey_data"]

,Participant-ID,Manbox5_1,Manbox5_2,Manbox5_3,Manbox5_4,Manbox5_5,isolated,WomenDifferent,language,COVID,...,Perc_Effort,Attendance,Perc_Academic,Current_Class,Nervous,Hopeless,Restless,Depressed,Tried,Worthless
0,32442,2,1,1,4,7,3,4,1,7,...,70,100,48.0,2,3,2,3,3,3,2
1,32565,2,1,1,1,4,6,7,1,7,...,82,57,74.0,2,4,4,5,5,5,4
2,32564,4,1,1,1,7,1,7,1,5,...,5,63,79.0,1,2,1,1,1,1,2
3,32563,1,1,1,2,1,2,1,1,3,...,53,97,79.0,0,2,2,1,1,2,2
4,32562,2,2,4,2,4,4,6,0,3,...,53,98,77.0,0,3,3,2,3,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,32437,4,1,1,1,1,1,2,1,5,...,94,100,82.0,9,2,1,2,1,2,2
162,32438,1,1,1,1,1,2,4,1,6,...,11,98,38.0,1,2,1,1,2,2,1
163,32439,1,1,1,1,1,1,5,0,1,...,53,100,79.0,0,2,1,2,1,1,2
164,32440,1,1,3,1,1,3,7,0,4,...,67,85,30.0,1,2,2,2,3,3,3
165,32441,3,2,2,1,3,3,7,1,1,...,5,88,40.0,2,3,2,3,2,2,2

In [ ]:
cypher = db.load_cypher("survey_data", "create")
for row in df["survey_data"].to_dict(orient="records"):
    print(row)
    r, s, k = db.execute_query(cypher, row)
    print(r, s, k)
    break

In [ ]:
cypher_last_sp_id = """
MATCH (s:SurveyPeriod)<-[has_survey]-(pr:ProcessRun)
WHERE s.id = $last_sp
RETURN pr.id AS process_run_id
ORDER BY pr.created_at DESC
LIMIT 1
"""     
process_run_id = db.execute_query(cypher_last_sp_id, {"last_sp": 1})
process_run_id[0][0]['process_run_id']

1

In [ ]:
print(last_survey_period["s"]["id"])

In [ ]:
participant_df = node_df["participants"]
def create_patcipant_relationship(self, survey_period, df):
    cypher = """
    MATCH (p:Participant {participant_id: $participant_id}), (s:SurveyPeriod {id: $survey_period_id})
    CREATE (p)-[r:PARTICIPATED_IN]->(s)

    """

    for row in participant_df.to_dict(orient='records'):
        params = {
            "participant_id": row["participant_id"],
            "survey_period_id": survey_period
        }
        db.execute_query(cypher, params)

create_patcipant_relationship(db, next_survey_period)

In [ ]:
# create new metrics and other stuff
def create_metrics(db, process_run_id):
    cypher = db.load_cypher("metric", "create")

    for row in participant_df.to_dict(orient='records'):
        print(row)
        row["process_run_id"] = process_run_id
        db.execute_query(cypher, row)
        

create_metrics(db, next_process_run)

In [ ]:
cypher = """
match (p: Participant) -[r:get_advice]-> (p2:Participant) limit 25
return p.participant_id AS source, p2.participant_id AS target

"""
db.query_to_dataframe(cypher, {})

   source target
0   32551  32391
1   32464  32391
2   32425  32391
3   32431  32391
4   32427  32542
5   32488  32542
6   32433  32496
7   32416  32496
8   32415  32496
9   32425  32464
10  32486  32464
11  32549  32464
12  32431  32464
13  32427  32488
14  32498  32488
15  32502  32488
16  32434  32488
17  32423  32488
18  32552  32562
19  32563  32562
20  32531  32562
21  32491  32518
22  32447  32502
23  32498  32502
24  32473  32502